<div class="container">
  <h1 class="text-center mb-4">Welcome to Expense Tracker</h1>
  
  {{#if logged_in}}
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-header">
          <h3>Your Recent Expenses</h3>
        </div>
        <div class="card-body">
          {{#if expenses.length}}
            {{#each expenses as |expense|}}
              <div class="expense-item mb-2 p-2 border-bottom">
                <h4>{{expense.description}}</h4>
                <p>Amount: ${{expense.amount}}</p>
                <p class="text-muted">Date: {{format_date expense.date}}</p>
              </div>
            {{/each}}
          {{else}}
            <p>No expenses recorded yet. Start tracking your expenses!</p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  {{else}}
  <div class="row">
    <div class="col-md-8 mx-auto text-center">
      <h2>Track Your Expenses Easily</h2>
      <p class="lead">Sign up or login to start managing your expenses!</p>
      <div class="mt-4">
        <a href="/login" class="btn btn-primary me-2">Login</a>
        <a href="/signup" class="btn btn-success">Sign Up</a>
      </div>
    </div>
  </div>
  {{/if}}
</div>